        
        @media (max-width: 958px) {
            nav ul li a {
                font-size: 15px;
            }
        }

        @media (max-width: 858px) {
            .checkbtn {
                display: block;
                margin-right: 40px;
            }

            ul {
                position: fixed;
                width: 100%;
                height: 100vh;
                background: #2c3250;
                top: 80px;
                left: -100%;
                text-align: center;
                transition: all .5s;
                z-index: 1000;
            }

            nav ul li {
                display: block;
                margin: 50px 0;
                line-height: 30px;
            }

            nav ul li a {
                font-size: 20px;
            }

            #check:checked~ul {
                left: 0;
            }

            .bg {
                background: url(logo.jpg) no-repeat;
                width: 100%;
            }
            .heading {
            font-size: 30px;
        }

        .change:after {
            font-size: 30px;
        }
        .container{
            grid-template-columns: auto;
        }
        }